@import "common.scss";
.greet-guide-container {
  width: 360px;
  height: max-content;
  text-align: center;
  margin-top: 30px;

  .greet-text {
    margin-top: 20px;
    font-size: 24px;
  }
  .guide-text {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.text-input-btn {
  width: 173px;
  height: 155px;
  margin: 0 auto;
  margin-top: 40px;
  filter: drop-shadow(0px 2px 4px rgba($black, 0.25));
  .text-input-btn-button {
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: $white;
    border: 1px solid $gray;
    border-radius: 18px;
    transition: 0.1s;
    cursor: pointer;
    &:active {
      background-color: $gray20;
    }
  }
  .text-input-icon {
    position: absolute;
    left: 31.79%;
    right: 31.21%;
    top: 29.68%;
    bottom: 29.03%;
  }
}

.photo-input-btn {
  width: 173px;
  height: 155px;
  margin: 0 auto;
  margin-top: 50px;

  filter: drop-shadow(0px 2px 4px rgba($black, 0.25));
  .photo-input-btn-button {
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #fbfbfb;
    border: 1px solid $gray;
    border-radius: 18px;
    cursor: pointer;
    &:active {
      background-color: $gray20;
    }
  }
  .photo-input-icon {
    left: 31.79%;
    right: 31.21%;
    top: 29.68%;
    bottom: 29.03%;
  }
}
